@media screen and (max-width:600px){
    .header-tittle{
        justify-content: space-between;
        align-items: center;
    }
    .nav{
        display: none;
    }
    .header .header-tittle .nav-icon{
        /* display: block; */
    }
    .banner{ background-size: 100% 100% ;
        padding: 20px 45px;
        margin: 50px  10px 0px;
    }
    .banner-input{
    flex-direction: column;
    }
}