@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
/* common item */
.mulish-48{
    color: #131318;
font-size:2.25rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.mulish-18{
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 1.1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    border: 2px solid red;
}

.header{
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-tittle{
    display: flex;
}
.header .header-tittle .nav-icon{
    display: none;
}
.nav ul{
    display: flex;
color: var(--Dark-02, #424247);
}
ul li{
    list-style: none;
    margin-left: 44px;
}
li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
}
